 <div class="block -blue edge--bottom">
  <div class="block -blue edge--bottom--reverse">
      <h1 id="portfolio">My Recent Work</h1>
        <div class="row">
            <div class="content">
              <a href="#work" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="images/hopdesk-image.png">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Hop DESK</h3>
                  <h4 class="content-text">Web app connecting people with local workspaces, including cafes, pubs and empty offices. Built using Ruby on Rails, HTML5, CSS & JS & deployed on Heroku</h4>
                </div>
              </a>
            </div>
            <div class="content">
              <a href="https://art-swap-clairecullimore.herokuapp.com/" target="_blank">
              <div class="content-overlay"></div>
              <img class="content-image" src="images/artswap-image.png">
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Art Swap</h3>
                  <h4 class="content-text">Airbnb-like marketplace to hire artwork. Optimsed for computer screens only. Built using Ruby on Rails, HTML5, CSS & JS & deployed on Heroku.</h4>
              </div>
              </a>
            </div>
        </div>
      </div>
      <div class="block -berry edge--bottom--reverse">
        <h2 id="get-in-touch">Get in touch</h2>
        <a href="https://github.com/ClaireCullimore">
              <img class="small-icons" src="images/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/clairecullimore/">
          <img class="small-icons"src="images/linkedin.png" alt="">
        </a>
        <a href="mailto: cascullimore@gmail.com">
              <img class="small-icons" src="images/mail.png" alt=""></a>
        </div>
      </div>
